<!doctype html>
<html mnifest="catyamood.appcache">
  <head>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
    <title>pug ya` mood</title>

    <!-- build:css inline -->
    <link rel="stylesheet" href="assets/stylesheets/catyamood.min.css" />
    <!-- /build -->
  </head>
  <body>
    <div class="catyamood-app u-container">
      <div class="catyamood-app-happy u-happy"></div>
      <div class="catyamood-app-sober u-sober"></div>
      <div class="catyamood-app-grumpy u-grumpy"></div>
    </div>
    <div class="catyamood-host u-container">
      <span>
        <h1>pug ya` mood</h1>
        <a href="http://sebastian-misch.de/pugyamood">
          sebastian-misch.de / pugyamood
        </a>
      </span>
      <div class="catyamood-host-happy u-happy"></div>
      <div class="catyamood-host-sober u-sober"></div>
      <div class="catyamood-host-grumpy u-grumpy"></div>
    </div>

    <!-- build:js inline -->
    <script src="assets/javascripts/catyamood.min.js" />
    <!-- /build -->
    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>

  </body>
</html>
